<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <meta name="google-site-verification" content="Z_xsAyoYdzELejX6rAUpNBlbtrEDD98wxIzaKsQM8lg" />
  <body>
    {{partial "search.html" .}}
    <div class="singlePage">
      <!-- Begin actual content -->
      {{partial "header.html" .}}
      <article>
        {{partial "toc.html" .}} {{partial "textprocessing.html" . }} {{if
        $.Site.Data.config.enableRecentNotes}} {{partial "recent.html" . }} {{end}}
      </article>
      {{partial "footerIndex.html" .}}
    </div>
  </body>
</html>
